################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiscordBotSB/obj/project.nuget.cache
/DiscordBotSB/obj/project.assets.json
/DiscordBotSB/obj/DiscordBotSB.csproj.nuget.g.targets
/DiscordBotSB/obj/DiscordBotSB.csproj.nuget.g.props
/DiscordBotSB/obj/DiscordBotSB.csproj.nuget.dgspec.json
/DiscordBotSB/obj/Debug/netcoreapp3.1/DiscordBotSB.pdb
/DiscordBotSB/obj/Debug/netcoreapp3.1/DiscordBotSB.genruntimeconfig.cache
/DiscordBotSB/obj/Debug/netcoreapp3.1/DiscordBotSB.GeneratedMSBuildEditorConfig.editorconfig
/DiscordBotSB/obj/Debug/netcoreapp3.1/DiscordBotSB.dll
/DiscordBotSB/obj/Debug/netcoreapp3.1/DiscordBotSB.csproj.FileListAbsolute.txt
/DiscordBotSB/obj/Debug/netcoreapp3.1/DiscordBotSB.csproj.CoreCompileInputs.cache
/DiscordBotSB/obj/Debug/netcoreapp3.1/DiscordBotSB.csproj.CopyComplete
/DiscordBotSB/obj/Debug/netcoreapp3.1/DiscordBotSB.csproj.AssemblyReference.cache
/DiscordBotSB/obj/Debug/netcoreapp3.1/DiscordBotSB.assets.cache
/DiscordBotSB/obj/Debug/netcoreapp3.1/DiscordBotSB.AssemblyInfoInputs.cache
/DiscordBotSB/obj/Debug/netcoreapp3.1/DiscordBotSB.AssemblyInfo.cs
/DiscordBotSB/obj/Debug/netcoreapp3.1/apphost.exe
/DiscordBotSB/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/DiscordBotSB/obj/Debug/netcoreapp3.1
/DiscordBotSB/obj
/DiscordBotSB/MyDB.db
/DiscordBotSB/bin/Debug/netcoreapp3.1/System.Threading.Channels.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.UserSecrets.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/LiteDB.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/Emzi0767.Common.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/DSharpPlus.Interactivity.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/DSharpPlus.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/DSharpPlus.CommandsNext.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/DiscordBotSB.runtimeconfig.json
/DiscordBotSB/bin/Debug/netcoreapp3.1/DiscordBotSB.runtimeconfig.dev.json
/DiscordBotSB/bin/Debug/netcoreapp3.1/DiscordBotSB.pdb
/DiscordBotSB/bin/Debug/netcoreapp3.1/DiscordBotSB.exe
/DiscordBotSB/bin/Debug/netcoreapp3.1/DiscordBotSB.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1/DiscordBotSB.deps.json
/DiscordBotSB/bin/Debug/netcoreapp3.1/ConcurrentCollections.dll
/DiscordBotSB/bin/Debug/netcoreapp3.1
/DiscordBotSB
/.vs/DiscordBotSB/v16/.suo
/.vs/DiscordBotSB/v16
/.vs/DiscordBotSB/DesignTimeBuild/.dtbcache.v2
/.vs/DiscordBotSB/DesignTimeBuild
/.vs/DiscordBotSB
/ApiTests/obj
/ApiTests/bin/Debug/netcoreapp3.1/zh-Hant
/ApiTests/bin/Debug/netcoreapp3.1/cs
/ApiTests/bin/Debug/netcoreapp3.1
/ApiTests/bin/Release/netcoreapp3.1/CoverletSourceRootsMapping
